body s-header.top-header {
  background: #131479;
  height: 30px;
  border-bottom: 2px solid #171882;
}

.user-header {
  background: #131479;
  border-bottom: 2px solid #16177f;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  margin-bottom: 0;
  list-style: none;
  float: right;
  right: 0px;
}

a.userheader-link {
  display: block;
  position: relative;
  margin: 0 10px;
  color: #ffffff;
  font-size: 12px;
  height: 100%;
  line-height: 25px;
}

a.userHeader-link:hover {
  background-color: #16177f;
  text-decoration: none;
}

