
<!-- ADDRESS COMPONENT -->
<!-- 
<template id="address-component">
  <div class="address_container border border-black rounded pl-2 pr-2">

    <div class="account_title text-info text-center mb-2 ">Adresa</div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-map-marker"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Adresa" aria-label="address" aria-describedby="basic-addon1">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-map-marker"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Adresa 2" aria-label="adres2" aria-describedby="basic-addon1">
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-map-pin"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Qyteti" aria-label="city" aria-describedby="basic-addon1">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-globe"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Shteti" aria-label="country" aria-describedby="basic-addon1">
    </div>

    <contact-address> </contact-address>

  </div>
</template>

<CONTACT COMPONENT -->
<!-- 
<template id="contact-component">
  <div class="contact_container border border-light rounded pl-1 pr-1 pt-2 mb-3">

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-phone"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Numri Telefonit" aria-label="nrTelefoni" aria-describedby="basic-addon1">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-mobile"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Numri Celularit" aria-label="nrcelulari" aria-describedby="basic-addon1">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-at"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
      </div>
    </div>
</template> --> -->

<!-- 
<script>
    parent.Vue.component('address-cmp',{
      data: function () {
        return {

        }
      },
      methods: {

      },
      template: document.getElementById("address-component").innerHTML
    })

    parent.Vue.component('contact-address',{
      data:function(){
        return{

        }
      },
      methods:{

      },
      template:document.getElementById("contact-component").innerHTML
    })
    
</script> -->
